# Ignorar diretórios node_modules
**/node_modules
**/npm-debug.log

# Ignorar arquivos de configuração de IDE
**/.idea
**/.vscode
**/*.swp

# Ignorar arquivos de teste
**/tests
**/__tests__

# Ignorar arquivos de log
**/*.log

# Ignorar arquivos específicos da build
**/dist
**/build
**/.next

# Ignorar outros arquivos desnecessários
**/.env
**/.DS_Store